body {
	background-color: white;
}

ul { list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	}

li {
	float: left;
 }

 li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 50px;
	text-decoration: none;
 }

li a:hover:not(.active) {
	background-color: turquoise;

}

active {
	background-color: steelblue;
	}

  h1 {
  	color:black;
  	font-face:Courier new;
  	font-size:320%;
  }

  p  {
  	color:darkgrey;
  	font-face:Courier new;
  	font-size:180%;
  }
